.btnJogar {
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
}

.btnJogarr {
    font-size: 32px;
    font-weight: bold;

    color: #fff;
    background-color: none;

    border-color: #fff;
    border-radius: 30px;

    padding: 10px;
}