.container-area-emoji {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
}

#seta-esquerda {
    font-size: 100px;
    margin-left: 50px;
}

#seta-direita {
    font-size: 100px;
    margin-right: 50px;
}

.area-emoji {
    width: 40vw;
    height: 30vh;

    border: 3px solid #fff;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.area-emoji p {
    font-size: 100px;
}

@media (max-width: 1120px) {
    .area-emoji p {
        font-size: 85px;
    }
}

@media (max-width: 968px) {
    .area-emoji {
        width: 40vw;
        height: 30vh;
    }

    .area-emoji p {
        font-size: 72px;
    }
}

@media (max-width: 840px) {
    .area-emoji p {
        font-size: 68px;
    }

    #seta-esquerda,
    #seta-direita {
        font-size: 80px;
    }
}

@media (max-width: 768px) {
    .area-emoji {
        border-radius: 40px;
        width: 40vw;
        height: 25vh;
    }

    .area-emoji p {
        font-size: 62px;
    }

    #seta-esquerda,
    #seta-direita {
        font-size: 60px;
    }
}

@media (max-width: 680px) {
    .area-emoji {
        width: 40vw;
        height: 20vh;
    }

    .area-emoji p {
        font-size: 52px;
    }
}

@media (max-width: 576px) {
    .area-emoji p {
        font-size: 48px;
    }

    #seta-esquerda {
        font-size: 50px;
        margin-left: 25px;
    }

    #seta-direita {
        font-size: 50px;
        margin-right: 25px;
    }
}

@media (max-width: 500px) {
    .area-emoji {
        width: 40vw;
        height: 15vh;
        border-radius: 30px;
    }

    .area-emoji p {
        font-size: 42px;
    }
}

@media (max-width: 430px) {
    .area-emoji p {
        font-size: 32px;
    }

    #seta-esquerda,
    #seta-direita {
        font-size: 40px;
    }
}