.botao-jogar {
    font-size: 32px;
    font-weight: 500;

    color: #fff;
    background: none;

    border: 3px solid #fff;
    border-radius: 25px;

    padding: 5px 20px;
}

.botao-jogar a {
    color: yellow;
}

@media (max-width: 768px) {
    .botao-jogar {
        font-size: 22px;
        padding: 5px 15px;
        border-radius: 20px;
    }
}

@media (max-width: 576px) {
    .botao-jogar {
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 16px;
    }
}