.container-jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    color: #fff;

    margin-bottom: 50px;
}

.subtitulo-jogador {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 5px;
}

.input-jogador {
    width: 100%;
    margin-bottom: 30px;
}

.input-jogador input {
    font-size: 28px;
    font-weight: 100;
    color: #fff;

    padding: 5px;
    text-align: center;

    background: none;
    border: 2px solid #fff;
    border-radius: 25px;
    outline: 0;
}

.botao-proximo {
    font-size: 32px;
    font-weight: 500;

    color: #fff;
    background: none;

    border: 2px solid #fff;
    border-radius: 25px;

    padding: 5px 20px;
}

.botao-proximo a {
    color: yellow;
}


@media (max-width: 768px) {
    .container-jogador {
        gap: 1px;
        margin-top: -2px;
    }

    .subtitulo-jogador {
        font-size: 22px;

    }

    .input-jogador input {
        font-size: 22px;
        padding: 3px;

        border-radius: 18px;
    }

    .botao-proximo {
        font-size: 18px;
        border-radius: 20px;
        padding: 5px 15px;
    }

    .input-jogador {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .container-jogador {
        gap: 1px;
        margin-top: -5px;
    }

    .subtitulo-jogador {
        font-size: 18px;

    }

    .input-jogador input {
        font-size: 18px;

        border-radius: 15px;
    }

    .botao-proximo {
        font-size: 15px;
        border-radius: 20px;
        padding: 5px 15px;
    }

    .input-jogador {
        width: 100%;
        margin-bottom: 15px;
    }
}