.container-preferencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    color: #fff;

    margin-bottom: 50px;
}

.subtitulo-preferencias {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 5px;
}

.selecao-campeonato {
    font-size: 28px;
    font-weight: 100;

    display: flex;
    align-items: center;
    gap: 20px;
}

.selecao-campeonato>div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.outro-campeonato {
    width: 60%;
    margin-bottom: 30px;
}

.outro-campeonato input {
    font-size: 28px;
    font-weight: 100;
    color: #fff;

    padding: 5px;
    text-align: center;

    background: none;
    border: 2px solid #fff;
    border-radius: 25px;
    outline: 0;
}

.botao-comecar {
    font-size: 32px;
    font-weight: 500;

    color: #fff;
    background: none;

    border: 2px solid #fff;
    border-radius: 25px;

    padding: 5px 20px;
}

.botao-comecar a {
    color: yellow;
}

@media (max-width: 768px) {
    .container-preferencias {
        gap: 2px;

        margin-bottom: 25px;
    }

    .subtitulo-preferencias {
        font-size: 26px;
    }

    .selecao-campeonato {
        font-size: 22px;
        gap: 17px;
    }

    .outro-campeonato {
        margin: 3px 0;
    }

    .outro-campeonato input {
        font-size: 22px;
        padding: 3px;

        border-radius: 18px;
    }

    .botao-comecar {
        font-size: 22px;

        margin-top: 20px;
        padding: 5px 15px;

        border-radius: 20px;
    }
}

@media (max-width: 576px) {
    .container-preferencias {
        gap: 1px;

        margin-bottom: 20px;
    }

    .subtitulo-preferencias {
        font-size: 22px;
    }

    .selecao-campeonato {
        font-size: 20px;
        gap: 15px;
    }

    .outro-campeonato input {
        font-size: 20px;
        border-radius: 15px;
    }

    .botao-comecar {
        font-size: 16px;
        font-weight: 500;

        border-radius: 16px;
    }
}