.segundo-titulo {
    font-size: 128px;
    font-weight: 300;
    color: #fff;
}

.segundo-titulo span {
    font-size: 96px;
    margin: -15px;
}

.segundo-titulo a {
    color: yellow;
}

@media (max-width: 768px) {
    .segundo-titulo {
        font-size: 64px;
    }
}

@media (max-width: 576px) {
    .segundo-titulo {
        font-size: 58px;
    }
}