.titulo {
    font-size: 160px;
    font-weight: 300;
    color: #fff;

    display: flex;
    align-items: center;
}

.titulo span {
    font-size: 128px;
    margin: -15px;
}

.titulo a {
    color: yellow;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 96px;
    }

    .titulo span {
        font-size: 76px;
        margin: -10px;
    }
}

@media (max-width: 576px) {
    .titulo {
        font-size: 64px;
    }

    .titulo span {
        font-size: 52px;
        margin: -8px;
    }
}